<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Productos</title>
    <link rel='stylesheet' href='principal.css'>
    <link rel='stylesheet' href='crud.css'>
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="Logo.png" alt="logo">
            <ul>
                <a href="principal"><li>Inicio</li></a>
                <a href="#"><li>Productos</li></a>
                <a href="#"><li>Contacto</li></a>
                <a href="#"><li>Comprar</li></a>
                <a href="sistema"><li>Administrar</li></a>
            </ul>
        </nav>
    </header>

    <div class="contenedor-productos">

        <h2>Registro de Productos</h2>
        <div class="formulario">
            <input type="text" id="idProducto" placeholder="ID Producto">
            <input type="text" id="nombre" placeholder="Nombre">
            <input type="text" id="precio" placeholder="Precio">
            <input type="text" id="stock" placeholder="Stock">
            
            <select id="estado">
                <option value="">Estado</option>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>

            <div class="botones">
                <button>Agregar</button>
                <button>Buscar</button>
                <button>Eliminar</button>
                <button onclick="limpiarCampos()">Limpiar</button>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="tablaProductos"></tbody>
        </table>

    </div>

    <footer>
        <p>© 2026 Supermarker</p>
    </footer>

    <script src="productos.js"></script>
</body>
</html>